<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= event.capacity %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= event.category %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

</div>
