<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <% if can?(:update, @event) || can?(:destroy, @event) %>
    <%= link_to "Edit this event", edit_event_path(@event) %>
    <%= button_to "archive", archive_event_path(@event), method: :patch %>
    <%= button_to "delete", delete_event_path(@event), method: :patch %>
  <% end %>
</div>

<div>
  <% if @enrollment %>
    <%= button_to 'Unregister Event', unregister_event_path, method: :delete %>
  <% else %>
    <%= button_to 'Register Event', register_event_path, method: :post %>
  <% end %>
</div>

<div>
  <%= link_to "Back to events", events_path %>
</div>
